.header,.main{width: 1280px;margin: 0 auto;}
iframe{width: 1080px;height: 650px;}
iframe body{background-color: #eaf6c4;}
/*头部*/
.header{height: 114px;background: url(../images/headerbg.jpg) no-repeat;border-bottom: 4px solid #5c7c0f;}
.toolbar{float: right;height: 24px;border-bottom: 1px solid #325103;background: #5a9004;}
.toolbar li{padding: 0 12px;background: url(../images/tb_li_bg.gif) no-repeat right top;}
.header i{background: url(../images/toolbar_bg.png) no-repeat;width: 24px;height: 24px;display: block;float: right;}
.toolbar li.nobg{background: none;}
.toolbar li img{vertical-align: middle;padding-right: 5px;}
.toolbar li a{font:12px/24px '宋体';color: #fff;}
.yj_left,.yj_right{width: 2px;height: 32px;background-repeat: no-repeat;margin-top: 10px;}
.yj_left{background-image: url(../images/yj_left.gif);}
.yj_right{background-image: url(../images/yj_right.gif);}
.nav{margin-top: 47px;margin-bottom: -4px;}
.nav_top{height: 42px;background: url(../images/nt_li_bg.gif) repeat-x left bottom;}
.nav_top li{padding:0px 25px;font:bold 15px/32px 'Arial';margin-top: 10px;border-top: 1px solid #1b3601;}
.nav_top li.in{background-image: url(../images/nav_in_libg.gif);line-height: 41px;height:36px;margin-top: 5px;padding-bottom: 4px;padding-top: 0;border: 1px solid #1b3601;border-bottom: 0;border-radius:5px 5px 0 0;}
.nav_top li.in a{color: #182b00}
.nav_top li.in a:hover{border-bottom-color: #182b00}
.nav_top li.first.in{margin-left: -2px;padding-right: 27px;}
.nav_top li.last.in{margin-right: -1px;padding-left: 26px}
.nav_top li a{;color: #fff;}
.nav p{width:169px;padding-left: 30px;font:12px/12px 'Arial';padding-top: 21px;}

.main{height: 650px;}
/*左侧*/
.nav_left{width: 199px;height:650px;border-right:1px solid #506e0c;background: url(../images/nav_left_bg.jpg) no-repeat left bottom #c3e181;}
.op{background: url(../images/left_menu_bg.gif) repeat-x;height: 34px;}
.op p{font:12px/34px '宋体';color: #30672e;width: 48px;margin-left: 17px;background: url(../images/left_menu_bg2.gif) repeat-x;}
.nav_con .parent>li{background: url(../images/left_li_bg.jpg) no-repeat;width: 199px;}
.parent .big_tit{cursor: pointer;height: 39px;}
.parent .big_tit span,.parent .big_tit em,.parent .big_tit i{float: left;}
.parent .big_tit span{padding-left: 17px;padding-top: 13px;}
.parent .big_tit em{font:bold 18px/39px 'Arial';color: #471403;text-shadow: 0 0 2px #fff;padding-left: 15px;}
.parent .big_tit i{width: 0;height:0;display: inline-block;border-width: 7px;border-color: #5b900a;border-left-color: #a7fd1e;;border-style: solid;margin-left: 45px;margin-top:15px;}
.parent li.in .big_tit i{border-left-color: #5b900a;border-top-color: #a7fd1e;}
.son{display: none;height:0;}
.parent li.in .son{display: block;height: auto;}
.son li{font:14px/40px 'Arial';height:40px;padding-left: 40px;border-bottom: 1px solid #8aa76d}
.son li.last{border-bottom: none;}
.son a{color: #182803;}
.son a:hover{color: #66a612;border-bottom: none;}
.son img{vertical-align: middle;padding-right: 13px;}











