div,body,h1,h2,h3,h4,h5,img,p,ul{margin: 0;padding:0}
img{display: inline-block;}
a{text-decoration: none;}
a:hover{border-bottom: 1px solid #fff;}
li{list-style: none;}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
.clear{clear:both;}

.in{display: block;}
.hide{display: none;}
.op7{filter:alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}
.op6{filter:alpha(opacity=60);-moz-opacity: 0.6;opacity: 0.6;}
.op5{filter:alpha(opacity=50);-moz-opacity: 0.5;opacity: 0.5;}
.lifl li,.left{float: left;}
label{cursor: pointer;}
body{background: #91d726;}

/*头部*/
.header{height: 114px;width: 1280px;background: url(../images/headerbg.jpg) no-repeat;margin: 0 auto;border-bottom: 4px solid #5c7c0f;}
.toolbar{float: right;height: 24px;border-bottom: 1px solid #325103;background: #5a9004;}
.toolbar li{padding: 0 12px;background: url(../images/tb_li_bg.gif) no-repeat right top;}
.header i{background: url(../images/toolbar_bg.png) no-repeat;width: 24px;height: 24px;display: block;float: right;}
.toolbar li.nobg{background: none;}
.toolbar li img{vertical-align: middle;padding-right: 5px;}
.toolbar li a{font:12px/24px '宋体';color: #fff;}
.yj_left,.yj_right{width: 2px;height: 32px;background-repeat: no-repeat;margin-top: 10px;}
.yj_left{background-image: url(../images/yj_left.gif);}
.yj_right{background-image: url(../images/yj_right.gif);}
.nav{margin-top: 47px;margin-bottom: -4px;}
.nav_top{height: 42px;background: url(../images/nt_li_bg.gif) repeat-x left bottom;}
.nav_top li{padding:0px 25px;font:bold 15px/32px 'Arial';margin-top: 10px;border-top: 1px solid #1b3601;}
.nav_top li.in{background-image: url(../images/nav_in_libg.gif);line-height: 41px;height:36px;margin-top: 5px;padding-bottom: 4px;padding-top: 0;border: 1px solid #1b3601;border-bottom: 0;border-radius:5px 5px 0 0;}
.nav_top li.in a{color: #182b00}
.nav_top li.in a:hover{border-bottom-color: #182b00}
.nav_top li.first.in{margin-left: -2px;padding-right: 27px;}
.nav_top li a{;color: #fff;}
.nav p{width:170px;padding-left: 30px;font:12px/12px 'Arial';padding-top: 21px;}

.main{height: 650px;}
/*左侧*/
.nav_left{width: 200px;border-right:1px solid #506e0c;}
